.heading{
    width: 100%;
    text-align: left;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.heading h3{
    display:inline;
}

.heading button{
    float: right;
    border: 1px solid white;
}

.big_image{
    width: 100%;
}

#start{
    font-size: 22px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#status{
    font-size: 22px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h4{
    background-color: greenyellow;
    line-height: 2;
    margin: 0px;
}

.modal-dialog{
    width: 90%;
}

.instruction_image{
    display: inline-block;
    width: 45%;
}

video{
    background: url('game_console.png');
    background-size: cover;
    background-position: center;
    padding: 25px;
}